<div id="biz-toolbar">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span id="finance_sources">Business and Finance News Sources</span>
  </mat-toolbar-row> 
</mat-toolbar>
</div>

<div class="first-row">
<div id="wsj">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Washington Street Journal
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.wsj.com/news/business">Go to: WSJ</a>
    </mat-card-actions>
  </mat-card>  
</div>
<div id="fox">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Fox Business
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.foxbusiness.com/markets">Go to: Fox Business</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id = "cnn">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        CNN Money
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://money.cnn.com/data/markets/">Go to: CNN Money</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id = "bbc">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        BBC Finance
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.bbc.com/news/business/market-data" >Go to: BBC Finance</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id="bloom">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Bloomberg Finance
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.bloomberg.com/markets" >Go to: Bloomberg Finance</a>
    </mat-card-actions>
  </mat-card>  
</div>

</div>

<div class="second-row">
<div id="cnbc">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        CNBC
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.cnbc.com/finance/" >Go to: CNBC</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id="sky">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        SkyNews
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://news.sky.com/business" >Go to: SkyNews</a>
    </mat-card-actions>
  </mat-card>  
</div>
<div id="biz">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        BizTV
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="http://www.biztv.com/News" >Go to: BizTV</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id="invest">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Investopedia
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.investopedia.com/markets/" >Go to: Investopedia</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id = "business">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Business Insider
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.businessinsider.com/clusterstock" >Go to: Business Insider</a>
    </mat-card-actions>
  </mat-card>  
</div>

</div>

<div class="third-row">
<div id="motley">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Motley Fool
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.fool.com/investing-news/" >Go to: Motley Fool</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id ="fortune">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Fortune
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="http://fortune.com/markets/" >Go to: Fortune</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id="post">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Financial Post
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://business.financialpost.com/markets" >Go to: Financial Post</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id="real">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Real Clear
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://www.realclearmarkets.com/" >Go to: Real Clear</a>
    </mat-card-actions>
  </mat-card>  
</div>

<div id ="born">
  <mat-card class="news-card">
    <mat-card-content>
      <p>
        Born 2 Invest
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button target="_blank" href="https://born2invest.com/articles/category/finance/markets/" >Go to: Born2Invest</a>
    </mat-card-actions>
  </mat-card>  
</div>

</div>

