<div class="card-container">
<mat-card class="card">
  <mat-card-content class="content">
    52 Week Low: {{week52low}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    52 Week High: {{week52high}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    50 Day Moving Average: {{day50mov}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    200 Day Moving Average: {{day200mov}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    EBITDA: {{ebitda}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    Highest PE Ratio: {{peRatioHigh}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    Lowest PE Ratio: {{peRatioLow}}
  </mat-card-content>
</mat-card>   
</div>
<div class="card-container1">
<mat-card class="card">
  <mat-card-content class="content">
    Dividend Rate: {{dividendRate}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    Dividend Yield: {{dividendYield}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    Debt: {{debt}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    Revenue: {{revenue}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    Revenue Per Share: {{revenuePerShare}}
  </mat-card-content>
</mat-card>   

<mat-card class="card">
  <mat-card-content class="content">
    Revenue Per Employee: {{revenuePerEmployee}}
  </mat-card-content>
</mat-card>   
</div>