      <mat-card style="width: 50%; margin-left: 25%; margin-top: 4px; text-align: center; font-weight: bold; font-size: 15px"> 
        <mat-card-content>
          Stock Research Made Easy and Simple
        </mat-card-content>
      </mat-card>

    <div fxLayout="row" fxLayoutGap="2.5%" style="margin-top: 10px;">

      <mat-card class="goal" fxFlex="30">
        <mat-card-content>
          <h1 style="text-align: center;">
            Our Goal
          </h1>
          <p>
            Our goal is to make researching the stock market as simple as reading the newspaper.
          </p>
          <p>
            To do that, we strive to make better tools with a simple and easy to use design.
          </p>
          <p>
            Currently we have 2 features: A stock data tool and a link building tool.
          </p>
        </mat-card-content>
      </mat-card>
 
      
      <mat-card class="future" fxFlex="30">
        <mat-card-content>
          <h2>
            Our plan for future tools and features:
          </h2>
          <p>
            A.I(Artificial Intelligence) stock scanner
          </p>
          
          <p>
              A.I News reader and stock price predictor
          </p>
          <p>
            Blog on specific stocks
          </p>
          <p>
              Daily watchlist for users and blog readers
          </p>
          <p>
              List of top performing Stocks throughout the day
          </p>
        </mat-card-content>
      </mat-card>  

    </div>

    <div fxLayout="row" fxLayoutGap="1%" style="margin-top: 8px;">  
      <mat-card fxFlex="30" class="goal">
        <mat-card-content>
          <h2>
            To use our Stock Data Tool click this button below
          </h2>
        </mat-card-content>
      </mat-card>
      
      
      <mat-card fxFlex="30">
        <mat-card-content>
          <h2>
            To use our Stock Link Tool click this button below
          </h2>
        </mat-card-content>
      </mat-card>
    </div> 
      
    <div fxLayout="row" fxLayoutGap="1%" style="margin-top: 8px;">
      <mat-card fxFlex="30" class="goal" style="text-align: center;">
        <mat-card-content>
            <button mat-raised-button routerLink="/stockdata" routerLinkActive="active" color="primary">Stock Data</button>    
        </mat-card-content>
      </mat-card>
      
      <mat-card fxFlex="30" style="text-align: center;">
          <mat-card-content>
              <button mat-raised-button routerLink="/default" routerLinkActive="active" color="primary">News Link</button>    
          </mat-card-content>
        </mat-card>    
    </div>

    <mat-card style="margin-top: 10px; width: 30%; margin-left: 35%;">
      <mat-card-header>
        Currently we are working on:
      </mat-card-header>

      <mat-card-content  style="margin-top: 10px;">
        <p>
          Daily table of top performing stocks
        </p>
        <p>
            Daily blog on hottest and top performing stocks
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin-top: 7px; width: 50%; margin-left: 25%;">
      <mat-card-header>
        Do you have suggestions on how to make TraderNewsLink better?
      </mat-card-header>
      <mat-card-content style="margin-top: 15px;">
        Email us at: <a href="tradernewslink@gmail.com">tradernewslink@gmail.com</a>
      </mat-card-content>
    </mat-card>

    <mat-card  style="width: 75%; margin-left: 12.5%; margin-top: 15px;">
      <mat-card-header >
        <h3 style="text-align: center;"> Happy Trading and thank you for using Trader News Link</h3>
      </mat-card-header>
    </mat-card>