<script src="node_modules/chart.js/src/chart.js"></script>

<mat-card class="card">
  <mat-card-content>
    <p class="ohlc">
      Open/High/Low/Close
    </p>
  </mat-card-content>
</mat-card>
<div class="chart-overlay">
    <div style="display: inline-block" class="chart">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="chartColors">
        </canvas>
    </div>
  </div>